{% extends "base.html" %}

{% block content %}
    <div class="alert alert-danger shadow-sm">
        <h2 class="alert-heading mb-3">Usuwanie projektu</h2>
        <p>Czy na pewno chcesz bezpowrotnie usunąć projekt: <strong>{{ project.name }}</strong>?</p>

        <div class="alert alert-warning mt-3 bg-warning text-dark border-2">
            <strong><i class="bi bi-exclamation-triangle-fill"></i> Uwaga:</strong>
            Usunięcie tego projektu spowoduje automatyczne usunięcie wszystkich przypisanych do niego zadań!
        </div>

        <hr>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger px-4">Tak, usuń</button>
            <a href="{% url 'project_list' %}" class="btn btn-secondary px-4 ms-2">Anuluj</a>
        </form>
    </div>
{% endblock %}